.reply {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgrey;
    .header-info {
      line-height: normal;
      margin-left: 10px;
      .writer {
        color: teal;
      }
      .created {
        font-size: 10px;
      }
    }
  }
  .btn-edit {
    margin-right: 10px;
  }
  .btn-delete, .btn-edit {
    float: right;
    cursor: pointer;
  }
  .comment {
    margin-top: 10px;
    border: initial;
    overflow: hidden;
    resize: none;
    &:focus {
      outline: none !important;
    }
  }
  .preferences-panel {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid lightgrey;
  }
  .reply-parent-author {
    color: $reply-author;
  }
  .reply-parent-content {
    color: $reply-content;
  }
  .material-icons {
    cursor: pointer;
    margin-left: 2px;
    &:hover {
      animation: bounce 0.3s ease-out infinite alternate;
    }
    &.cancel {
      color: #8E24AA;
    }
    &.save-edit {
      color: #5E35B1;
    }
    &.reply {
      color: #3949AB;
    }
  }
  .buttons {
    float:right;
  }
  @keyframes bounce {
    0% { transform: scale(1); }
    100% { transform: scale(1.2); }
  }
}
