.dataItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #DADADA;
  font-size: 13px;

  &__icon {
    padding: 15px 10px 15px 20px;
  }

  &__main {
    padding: 15px 10px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .close-redirect {
    cursor: pointer;
  }
  &__title {
    font-size: 16px;
    line-height: 20px;
    word-wrap: break-word;
    margin: 0 0 2px 0;
    font-weight: 400;
    display: inline-block;

    a {
      color: #313131;
      text-decoration: none;
    }

    a:hover {
      color: #DB4015;
    }
  }

  &__description {
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #272a34;
    display: table;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
    margin: 0;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__stats {
    padding: 15px 10px;
    text-align: center;
    width: 15%;
    display: flex;

    dl {
      margin: 0 0 5px 0;
    }
  }

  &__firstStats {
    margin-left: 0;
      font-size: 22px;
      font-weight: 300;
      line-height: 1.3;
  }

  &__secondStats {
    margin-left: 0;
    color: #8d9aa6;
  }

  &__manager {
    padding: 15px 10px;
    width: 150px;
    margin: 0;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
  }

  &__managerInfo {
    display: flex;
    flex-direction: column;
    
    a {
      text-decoration: none;
      color: #8d9aa6;
    }
  }

  &__managerDate {
    color: #8d9aa6;
  }

  &__managerAvatar {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    margin: 1px 10px 0 -50px;
    background: transparent;
    vertical-align: middle;
    line-height: 1px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }

  .board__icon {
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    opacity: 0.6;
  }


}

.dataItem:nth-child(even) {
  background: #F3F3F3;
}

.dataItem:nth-child(odd) {
  background: #fff;
}
