#trending {
  .heading {
    @include flex-space-between-row;
    align-items: center;
    
    .trending-header {
      color: $lightWhite;
      margin: 10px 20px;
      font-size: 20px;
      font-weight: bold;
    }

    .trending-new-post-button {
      margin-right: 10px;
    }
  }
}
