.top-nav-btn {
    @include rectanglify($top-nav-size);
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 0;
    &:focus {
        background-color: transparent;
    }
    > .material-icons {
        font-size: 24px;
        height: 100%;
        line-height: $top-nav-size;
    }
}
h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    > a {
        color: #fff;
        display: block;
        line-height: $top-nav-size;
    }
}
.Top-navigation {
    @include flex-box(space-between);
    background-color: palette(Teal, 800);
    border-bottom: 1px solid #002821;
    height: $top-nav-size;
    .notification {
        .notification-badge {
            color: #e0f2f1;
            background-color: palette(Red, 500);
            border-radius: 50%;
            font-size: 10px;
            line-height: normal;
            padding: 1px 3px;
            position: absolute;
        }
    }
    @media screen and (min-width: 992px) {
        > .top-nav-btn {
            display: none;
        }
        > h1 {
            width: 180px;
        }
    }
}
