.Top-navigation {
    background-color: palette(Grey, 800);
    border-bottom: 1px solid palette(Grey, 900);
    height: $top-nav-size;
    &__row {
        @include flex-box(space-between);
    }
    @media screen and (min-width: 992px) {
        background:
            linear-gradient(
                rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.7)
            ),
            url('../../../assets/header-bg.png') no-repeat center;
        background-size: cover;
        height: 75px;
        &__row {
            padding: 0 15px;
        }
        &__btn {
            display: none;
        }
    }
    @media screen and (min-width: 1220px) {
        &__row {
            padding: 0;
        }
    }
}
