@import url('styles/fonts/NanumSquare/font.css');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background-color: #e8e8e8;
    font-family: 'Nanum Square', sans-serif;
    font-size: 12px;
    height: 100vh;
    overflow: hidden;
}
ul {
    list-style: none;
}
button {
    border: none;
    cursor: pointer;
    font-family: 'Nanum Square', sans-serif;
    &:disabled {
        cursor: not-allowed;
        pointer-events: none;
    }
}
.root-container {
    height: 100vh;
    min-width: 320px;
}
.app-container {
    height: calc(100% - #{$top-nav-size});
    overflow-y: scroll;
    > .component-row {
        height: auto;
        padding: 0 10px;
    }
}
.component-row {
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
textarea {
    height: 2rem;
}
@media screen and (min-width: 992px) {
    .root-container {
        overflow-y: scroll;
    }
    .app-container {
        height: auto;
        overflow-y: visible
    }
}
input:focus {
  outline: none !important;
}
a {
    text-decoration: none;
}
