html {
    // height: 100vh;
    // overflow-y: hidden;
    height: 100%;
    overflow: auto;
}

body {
    height: 100%;
}

.app {
    // height: 100vh;
    height: 100%;
    min-width: 320px;
}
textarea {
  height: 2rem;
}
.app-wrapper {
    display: flex;
    height: calc(100% - 50px);
    > .container {
        display: block;
        max-width: none;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
        width: 100%;
        @media screen and (max-width: 450px) {
            width: 100% !important;
        }
    }
}
