.AuthLocal {
  padding: 10px;

  .authlocal-input {
    @include flex-column;

    .email-input {
      padding: 10px;
      background-color:$inputBackgroundColor;
      border: 0;
      color: $white;
      font-size: 14px;
    }

    .authlocal-error {
      margin: 5px 0px;
      font-size: 12px;
      text-align: right;
      min-height: 13px;
      color: red;
    }
  }
}
