.AuthForm {
  border: 1px solid #9a9a9a;

  .auth-social-text {
    padding: 10px;
    font-weight: bold;
  }

  .AuthSocial-wrapper {
    padding: 10px;
  }

  hr {
    margin: initial;
  }

  .authform-button {
    @include flex-center;
    height: 40px;
    width: 100%;
    background-color: #FA7F3C;
    padding: 10px;
    color: white;
  }
}
