.AuthForm {
  .AuthSocial-wrapper {
    padding: 10px;
  }

  hr {
    margin: initial;
  }

  .auth-form-or {
    text-align: center;
    color: $white;
    font-size: 16px;
  }

  .authform-button {
    @include flex-center;
    height: 40px;
    width: 100%;
    background-color: $royalblue;
    padding: 10px;
    color: white;
  }
}
