.Header {
  position: relative;

  .top-header {
    @include flex-space-between-row;
    align-items: center;
    height: 53px;
    background-color: $topHeaderBackground;
    padding: 0 10px;
  
    .main-text {
      color: $white;
      font-size: 16px;
      background-color: $headerMainTextBackground;
      border-radius: 5px;
      padding: 8px;
      font-weight: bold;
    }
  }

  .sub-header {
    @include flex-center-row;
    background-color: $white;
    height: 45px;

    .sub-header-section {
      padding: 10px;
      color: #9e9e9e;
      font-weight: bold;
      width: 100%;
      text-align: center;

      &.active {
        border-bottom: 3px solid #fa7f3c;
      }
    }
  }

  .header-side-menu-wrapper {
    .header-side-menu {
      position: absolute;
      left: 0;
      top: 0;
      width: 0px;
      height: 100vh;
      background-color: lightgreen;
      z-index: 2;
      overflow: hidden;
      transition: 0.3s width ease-in;

      .side-menu-content {
        margin-top: 140px;
  
        .side-menu-item {
          margin: 30px;
          font-size: 16px;
          color: #fff;
        }
      }
  
      .side-menu-close-button {
        position: absolute;
        left: 20px;
        height: 20px;
        color: white;
      }
    }
  
    .background-overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: #000;
      opacity: 0;
      z-index: -1;
    }

    &.isOpened {
      .header-side-menu {
        width: 200px;
      }

      .background-overlay {
        opacity: 0.6;
        z-index: 1;
      }
    }
  }

}
