.Main-menu {
    transform: translateX(-100%);
    &__list {
        &__items {
            &__links {
                border-bottom: none;
                border-top: 1px solid transparent;
                cursor: pointer;
                font-size: 13px;
                padding: 0 24px;
                &.active {
                    background-color: #fff;
                    color: palette(Grey, 900);
                    font-weight: 700;
                    > .Main-menu__list__items__links__icons {
                        color: inherit;
                    }
                    & + .Main-menu__list__items__sub {
                        display: block;
                    }
                }
                &__icons {
                    color: inherit;
                    font-size: 20px;
                    height: $top-nav-size;
                    line-height: $top-nav-size;
                    margin-right: 27px;
                }
            }
            &__sub {
                background-color: #fff;
                border-bottom: 1px solid $main-menu-border-color;
                display: none;
                &__items {
                    &__links {
                        padding: 0 0 0 71px;
                        &.active {
                            font-weight: 700;
                            text-decoration: underline;
                        }
                    }
                }
            }
            &:first-child {
                .Main-menu__list__items__links {
                    &.active {
                        border-bottom: 1px solid $main-menu-border-color;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 992px) {
        &__list {
            &__items {
                &__links {
                    border-bottom: 2px solid transparent;
                    border-top: none;
                    color: palette(Grey, 500);
                    padding: 0 15px;
                    &.active {
                        background-color: transparent;
                        border-color: palette(Grey, 100);
                        color: palette(Grey, 100);
                        & + .Main-menu__list__items__sub {
                            display: none;
                        }
                    }
                    &__icons {
                        color: inherit;
                        margin-right: 15px;
                    }
                }
                &:first-child {
                    .Main-menu__list__items__links {
                        &.active {
                            border-bottom: 2px solid $accent-colour;
                        }
                    }
                }
            }
        }
    }
}
