.User-menu-dropdown {
    display: block;
    opacity: 1;
    right: 0;
    top: $top-nav-size;
    > li {
        min-height: 0;
        line-height: $top-nav-size;
        > a {
            @include flex-box(flex-start);
            color: $teal-1000;
            font-size: 12px;
            line-height: $top-nav-size - 2px;
            padding: 0 15px;
            > .material-icons {
                font-size: 18px;
                margin-right: 5px;
            }
            > .notification-badge {
                left: 4px;
                top: 4px;
            }
            &:hover {
                background-color: #EBEBEB;
            }
        }
    }
    @media screen and (min-width: 768px) {
        > .notification {
            display: none;
        }
    }
    @media screen and (min-width: 992px) {
        &.logged-in {
            width: $user-dropdown-width;
        }
    }
}
