.User-menu-dropdown {
    display: block;
    opacity: 1;
    right: 0;
    top: $top-nav-size;
    > li {
        min-height: 0;
        line-height: normal;
        > a {
            @include flex-box(flex-start);
            color: palette(Teal, 900);
            font-size: 12px;
            padding: 10px 12px;
            > .material-icons {
                font-size: 18px;
                margin-right: 10px;
            }
            > .notification-badge {
                left: 4px;
                top: 4px;
            }
        }
        &:hover {
            background-color: palette(Teal, 50);
        }
    }
    @media screen and (min-width: 768px) {
        > .notification {
            display: none;
        }
    }
    @media screen and (min-width: 992px) {
        &.logged-in {
            width: 254px;
        }
    }
}
