@import './components/index';
@import './pages/index';
@import './pages/trending';
@import './pages/postWrite';
@import './pages/signup';

body {
  margin: 0;
  background-color: $defaultBackground;
  font-size: 12px;
}

input {
  outline: none;
}
