@import './components/test';
@import './components/hamburgerMenu';
@import './components/header';
@import './components/authFormContainer';
@import './components/authForm';
@import './components/authSocial';
@import './components/authLocal';
@import './components/postCard';
@import './components/postCardList';
@import './components/loader';
@import './pages/index';
@import './pages/trending';

body {
  margin: 0;
  background-color: $defaultBackground;
  font-size: 12px;
}

input {
  outline: none;
}
