.auth-modal-body {
    background-color: #fff;
    border-radius: 5px;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    width: 95%;
    > div {
        padding: 10px;
        > .SpanAnimatedText {
            color: palette(Teal, 900);
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
            text-align: center;
        }
        .submit-message {
            background-color: #ffe6e6;
            border: 1px solid #D84315;
            color: #D84315;
            margin: 0 auto 5px;
            padding: 5px;
            > p {
                margin: 0;
            }
        }
    }
    > .process-overlay {
        @include abs-elem(0, 0, 0, 0);
        @include flex-box(center);
        background-color: rgba(256,256,256,.9);
        z-index: 99;
    }
    @media screen and (min-width: 768px) {
        > div {
            padding: 15px;
            > .SpanAnimatedText {
                font-size: 18px;
            }
        }
    }
}
