.Sub-menu {
    display: none;
    @media screen and (min-width: 992px) {
        background-color: palette(Grey, 900);
        display: block;
        &__list {
            @include flex-box(flex-start);
            &__items {
                text-align: center;
                width: 130px;
                &__links {
                    border-bottom: 2px solid transparent;
                    color: palette(Grey, 500);
                    display: block;
                    padding: 10px 0;
                    text-decoration: none;
                    &.active {
                        border-color: $accent-colour;
                        color: palette(Grey, 100);
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
