.Social-login {
    > .social-btn-wrapper {
        padding: $user-box-padding;
        > div {
            > button {
                @include flex-box();
                color: #fff;
                padding: 5px;
                width: 100%;
                > img {
                    @include rectanglify(30px);
                }
                > span {
                    font-size: 14px;
                    font-weight: 400;
                    width: 100%;
                }
                &:disabled {
                    > .preloader-wrapper {
                        @include rectanglify(30px);
                        margin: 0 auto;
                        > .spinner-layer {
                            border-color: palette(Grey, 900);
                        }
                    }
                }
            }
            &.facebook {
                background-color: $facebook-bg;
            }
            &.google {
                background-color: $google-bg;
            }
            &.kakao {
                background-color: $kakao-bg;
                > button {
                    color: $kakao-txt;
                }
            }
        }
    }
    @media screen and (min-width: 992px) {
        > .social-btn-wrapper {
            @include flex-box(space-between);
            > div {
                width: 33%;
            }
        }
    }
}
