.Local-login {
    &__form {
        &__btn {
            width: calc(100% - #{$user-box-padding * 2});
        }
    }
    &__options {
        @include flex-box(space-between);
        padding: 0 $user-box-padding;
        &__links {
            border-bottom: 1px solid palette(Grey, 900);
            color: palette(Grey, 900);
            font-size: 12px;
            text-decoration: none;
        }
    }
}
