.Local-login {
    &__form {
        &__btn:last-child {
            margin: $user-box-padding;
            padding: 10px 0;
            width: calc(100% - #{$user-box-padding * 2});
        }
    }
    &__options {
        @include flex-box(space-between);
        padding: 0 $user-box-padding;
        &__links {
            color: $teal-1000;
            font-size: 12px;
        }
    }
}
