.AuthLocal {
  padding: 10px;

  .authlocal-input-container {
    @include flex-column;

    .authlocal-input {
      padding: 10px;
      background-color:$inputBackgroundColor;
      border: 0;
      color: $white;
      font-size: 14px;
    }

    .authlocal-error {
      margin: 5px 0px;
      font-size: 12px;
      text-align: right;
      min-height: 13px;
      color: red;
    }

    &.signup {
      .email-input {
        width: 58%;
        display: inline-block;
      }

      .email-verify-button {
        width: 30%;
        position: absolute;
        right: 27px;
        font-size: 10px;
      }
    }
  }
}
