.AuthSocial {
  .social {
    width: 100%;
    height: 60px;
    color: $white;
    position: relative;
    @include flex-vertical-center;
    margin-bottom: 5px;
    font-size: 14px;

    .facebook-logo,
    .gmail-logo,
    .kakaotalk-logo {
      width: 30px;
      height: 30px;
      margin-left: 10px;
    }

    &.facebook {
      background-color: #415993;
    }
    
    &.gmail {
      background-color: #b5422e;
    }

    &.kakaotalk {
      background-color: #f9dd4b;
    }

    .social-text {
      @include absolute-center;
    }
  }
}
