.button {
  color: $white;
  font-size: 16px;
  background-color: $headerMainTextBackground;
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 40px;

  &.bg-transparent {
    background-color: transparent;
  }

  &:disabled {
    background-color: lightgrey;
    cursor: not-allowed;
  }
}
