.sort_wrapper {
  color: #888;
  margin-top: 10px;
  font-size: 0.8rem;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    width: 41px;
    line-height: 20px;
    vertical-align: middle;
  }
  a {
    color: #888;
    &:hover {
      text-decoration: underline;
    }
  }
  .active {
    text-decoration: underline;
  }
}
