.user-menu {
    > .notification {
        display: none;
    }
    > .user-profile {
        cursor: pointer;
        &:active,
        &:focus {
            background-color: palette(Teal, 800);
            outline: none;
        }
        > .user-info {
            display: none;
        }
        > .dropdown-toggle {
            padding: 0;
            > .dd-toggler {
                width: 50px;
            }
        }
    }
    @media screen and (min-width: 768px) {
        @include flex-box(space-between);
        > .notification {
            display: block;
            margin-right: 10px;
            > .notification-badge {
                right: 0;
                top: 4px;
            }
        }
    }
    @media screen and (min-width: 992px) {
        > .user-profile {
            display: block;
            &.loggedIn {
                @include flex-box(space-between);
            }
            > .user-info {
                @include flex-box(flex-start);
                height: 50px;
                width: 210px;
                > .user-avatar {
                    background-color: transparent;
                    margin: 0 10px;
                    overflow: hidden;
                    > img {
                        @include rectanglify(34px);
                        border-radius: 50%;
                        display: block;
                    }
                }
                > .user-username {
                    color: palette(Teal, 50);
                    > span {
                        display: block;
                        line-height: normal;
                        &:first-child {
                            font-size: 14px;
                        }
                        &:last-child {
                            color: palette(Teal, 300);
                            font-size: 12px;
                        }
                    }
                }
            }
            > .dropdown-toggle {
                float: right;
            }
        }
    }
}
