.User-menu {
    > .notification {
        display: none;
    }
    > .user-profile {
        cursor: pointer;
        > .user-info {
            display: none;
        }
    }
    @media screen and (min-width: 768px) {
        @include flex-box(space-between);
        > .notification {
            display: block;
            position: relative;
            text-align: center;
            > .notification-badge {
                left: 2px;
                top: 4px;
            }
        }
    }
    @media screen and (min-width: 992px) {
        > .user-profile {
            @include flex-box(space-between);
            > .user-info {
                @include flex-box(flex-start);
                height: $top-nav-size;
                width: 210px;
                > .user-avatar {
                    margin: 0 10px;
                    > * {
                        @include rectanglify(34px);
                        border-radius: 50%;
                        display: block;
                    }
                    > span {
                        background-color: palette(Teal, 100);
                        font-size: 28px;
                        font-weight: 300;
                        line-height: 32px;
                        text-align: center;
                    }
                }
                > .user-username {
                    color: #fff;
                    > span {
                        display: block;
                        line-height: normal;
                        &:first-child {
                            font-size: 12px;
                        }
                        &:last-child {
                            color: palette(Teal, 200);
                            font-size: 11px;
                            text-transform: capitalize;
                        }
                    }
                }
            }
            &:hover {
                background-color: palette(Teal, 700);
            }
        }
    }
}
