.Main-menu-overlay {
    @include abs-elem(0, 0, 0, 0, absolute);
    background-color: rgba(0, 0, 0, .7);
    display: none;
    z-index: 88;
    &.active {
        display: block;
    }
    @media screen and (min-width: 1200px) {
        &.active {
            display: none;
        }
    }
}
.Main-menu {
    @include abs-elem(0, auto, auto, auto, fixed);
    background-color: transparent;
    height: 100%;
    transform: translateX(-100%);
    transition: all .3s;
    width: $main-menu-width;
    z-index: 88;
    &.active {
        transform: translateX(0);
    }
    > .main-menu-wrapper {
        height: 100%;
        > .main-menu-header {
            @include flex-box();
        }
        > .main-menu-body {
            background-color: #F5F5F5;
            height: 100%;
            ul {
                > li {
                    float: none;
                    > a {
                        @include flex-box();
                        color: #111111;
                        font-size: 14px;
                        height: $top-nav-size;
                        &:hover {
                            background-color: #EBEBEB;
                        }
                        &.active {
                            font-weight: 700;
                        }
                    }
                }
            }
            > .main-menu {
                > li {
                    > a {
                        border-top: 1px solid transparent;
                        padding: 0 24px;
                        &.active {
                            background-color: #fff;
                            border-color: $main-menu-border-color;
                            & + .sub-menu {
                                background-color: #fff;
                                border-bottom: 1px solid $main-menu-border-color;
                                display: block;
                            }
                            > .material-icons {
                                color: palette(Teal, 700);
                            }
                        }
                        > .material-icons {
                            color: #888888;
                            font-size: 20px;
                            height: $top-nav-size;
                            line-height: $top-nav-size;
                            margin-right: 27px;
                        }
                        > span {
                            line-height: $top-nav-size;
                        }
                    }
                    &:first-child {
                        > a {
                            &.active {
                                border-bottom: 1px solid $main-menu-border-color;
                                border-top: none;
                            }
                        }
                    }
                    > .sub-menu {
                        display: none;
                        > li {
                            > a {
                                font-size: 12px;
                                padding: 0 0 0 71px;
                                &.active {
                                    color: palette(Teal, 900);
                                }
                            }
                        }
                    }
                }
            }
        }
        > .main-menu-footer {
            @include abs-elem(auto, 0, 0, 0);
            border-top: 1px solid $main-menu-border-color;
            color: #000;
            text-align: center;
        }
    }
    @media screen and (min-width: 1200px) {
        top: $top-nav-size;
        > .main-menu-wrapper {
            > .main-menu-header {
                display: none;
            }
        }
    }
}
