.Main-menu-overlay {
    @include abs-elem(0, 0, 0, 0, absolute);
    background-color: rgba(0, 0, 0, .7);
    display: none;
    opacity: 0;
    transition: all .3s;
    z-index: 88;
    &.active {
        display: block;
        opacity: 1;
    }
    @media screen and (min-width: 992px) {
        display: none !important;
    }
}
.Main-menu {
    background-color: transparent;
    box-shadow: none;
    height: 100%;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: all .3s;
    width: 276px;
    z-index: 88;
    > .top-nav-btn {
        background-color: palette(Teal, 900);
        border-bottom: 1px solid #002821;
        left: 0;
        position: fixed;
        transition: all .3s;
        z-index: 99;
    }
    &.toggled {
        transform: translateX(0);
        > .top-nav-btn {
            left: 276px;
        }
    }
    @media screen and (min-width: 992px) {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        position: relative;
        transform: translateX(0);
        width: 210px;
        > .top-nav-btn {
            display: none;
        }
        &.folded {
            width: 62px;
            .main-menu-wrapper {
                width: 62px;
                > .submenu-toggle {
                    > .material-icons {
                        text-align: center;
                    }
                }
            }
            .main-menu {
                > li {
                    > a {
                        > span {
                            display: none;
                        }
                    }
                }
            }
            .sub-menu {
                display: none;
            }
        }
    }
}

.main-menu-wrapper {
    height: 100%;
    width: 276px;
    > .top-nav-btn {
        display: none;
    }
    .main-menu-header {
        background-color: palette(Teal, 800);
        border-bottom: 1px solid #002821;
        height: $top-nav-size;
    }
    > .main-menu-body {
        background-color: #EEEEEE;
        height: 100%;
        > .main-menu {
            > li {
                float: none;
                > a {
                    @include flex-box();
                    border-left: 5px solid transparent;
                    color: #757575;
                    font-size: 14px;
                    height: $top-nav-size;
                    &:hover,
                    &.active {
                        border-color: palette(Teal, 900);
                        border-top: 1px solid #dad8de;
                        color: palette(Teal, 900);
                        font-weight: 700;
                    }
                    &.active {
                        & + .sub-menu {
                            display: block;
                        }
                    }
                    > .material-icons {
                        font-size: 16px;
                        margin-right: 20px;
                    }
                }
                > .sub-menu {
                    display: none;
                    > li {
                        width: 100%;
                        > a {
                            @include flex-box(flex-end);
                            border-right: 5px solid transparent;
                            color: #757575;
                            font-size: 12px;
                            height: $top-nav-size;
                            &:hover {
                                border-color: palette(Teal, 900);
                                color: palette(Teal, 900);
                            }
                            &.active {
                                background-color: #fff;
                                border-color: palette(Teal, 900);
                                color: palette(Teal, 900);
                                font-weight: 700;
                            }
                        }
                        &:last-child {
                            border-bottom: 1px solid #dad8de;
                        }
                    }
                }
            }
        }
    }
    > .main-menu-footer {
        @include abs-elem(auto, 0, 0, 0);
        border-top: 1px solid #dad8de;
        color: #000;
        text-align: center;
    }
    @media screen and (min-width: 992px) {
        width: 210px;
        > .top-nav-btn {
            display: block;
            color: red;
            > .material-icons {
                text-align: right;
            }
        }
        > .main-menu-header {
            display: none;
        }
        > .main-menu-body {
            > .main-menu {
                > li {
                    > a {
                        padding: 0 20px;
                        > .material-icons {
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
        > .main-menu-footer {
            display: none;
        }
    }
}
