.preferences-panel {
  .like-icon, .dislike-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .dislike-icon {
    margin-left: 5px;
  }
  .likes, .dislikes {
    color: teal;
    font-size: 17px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: text-bottom;
  }
}
