.reply-new {
  position: relative;
  .card-content {
    padding: 5px 24px;
  }
  .required-login-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    @include flex-box(center);
    background-color: rgba(50, 50, 50, .8);
    color: #eee;
    font-size: 20px;
    z-index: 2;
  }
}
