.Menu-container {
    @include abs-elem(0, auto, auto, auto, fixed);
    height: 100%;
    transition: all .3s;
    width: $main-menu-width;
    z-index: 88;
    &.active {
        transform: translateX(0);
    }
    .menu-header {
        @include flex-box();
    }
    .menu-body {
        background-color: palette(Grey, 300);
        height: 100%;
        ul {
            list-style: none;
            > li {
                > a {
                    @include flex-box();
                    color: palette(Grey, 800);
                    font-size: 12px;
                    height: $top-nav-size;
                    overflow: hidden;
                    text-decoration: none;
                }
            }
        }
    }
    .main-menu {
        > li {
            > a {
                border-bottom: 1px solid transparent;
                border-top: 1px solid transparent;
                cursor: pointer;
                padding: 0 24px;
                &.active {
                    background-color: #fff;
                    border-color: $main-menu-border-color;
                    color: palette(Grey, 900);
                    font-weight: 700;
                    > .material-icons {
                        color: inherit;
                    }
                }
                > .material-icons {
                    color: #888888;
                    font-size: 20px;
                    height: $top-nav-size;
                    line-height: $top-nav-size;
                    margin-right: 27px;
                }
                > span {
                    line-height: $top-nav-size;
                }
            }
            &:first-child {
                > a {
                    &.active {
                        border-top: none;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 992px) {
        height: auto;
        width: 100%;
        position: sticky;
        transition: none;
        transform: translateX(0) !important;
        .menu-header {
            display: none;
        }
        .menu-body {
            background-color: palette(Grey, 800);
            width: 100%;
        }
        .main-menu {
            @include flex-box(flex-start);
            margin: 0 auto;
            max-width: 960px;
        }
    }
}
