.User {
    &__page__title {
        @include flex-box(space-between);
        font-size: 16px;
        color: palette(Grey, 900);
        margin: $user-box-padding $user-box-padding - 5px;
        font-weight: 800;
        text-transform: uppercase;
        &__icons {
            border: 1px solid palette(Grey, 900);
            border-radius: 5px;
            font-size: 16px;
            padding: 3px;
        }
    }
    &__form {
        &__row {
            background-color: #fff;
            border: 1px solid $main-menu-border-color;
            margin-bottom: 10px;
        }
        &__header {
            border-bottom: 1px solid $main-menu-border-color;
            color: palette(Grey, 800);
            padding: $user-box-padding;
            &__title {
                font-size: 14px;
                font-weight: 700;
            }
            &__subtitle {
                margin-top: $user-box-padding;
            }
        }
        &__btn {
            background-color: palette(Grey, 700);
            color: palette(Grey, 50);
            display: block;
            font-size: 12px;
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            &:disabled {
                background-color: palette(Grey, 300);
            }
            &:last-child {
                margin: $user-box-padding $user-box-padding $user-box-padding auto;
            }
        }
    }
}
