.Menu-container {
    @include abs-elem(0, auto, auto, auto, fixed);
    height: 100%;
    transition: all .3s;
    width: $main-menu-width;
    z-index: 88;
    &.active {
        transform: translateX(0);
    }
    &__header {
        @include flex-box();
        background-color: palette(Grey, 800);
        border-bottom: 1px solid palette(Grey, 900);
        height: $top-nav-size;
    }
    &__body {
        background-color: palette(Grey, 300);
        height: 100%;
        ul {
            > li {
                > a {
                    /* TODO: refactor this for BEM */
                    @include flex-box();
                    color: palette(Grey, 800);
                    height: $top-nav-size;
                    overflow: hidden;
                    text-decoration: none;
                }
            }
        }
    }
    @media screen and (min-width: 992px) {
        height: auto;
        width: 100%;
        position: sticky;
        transition: none;
        transform: translateX(0) !important;
        &__header {
            display: none;
        }
        &__body {
            background-color: palette(Grey, 800);
            width: 100%;
            ul {
                > li {
                    a {
                        color: palette(Grey, 200);
                    }
                }
            }
        }
        &__body {
            @include flex-box(flex-start);
            margin: 0 auto;
            max-width: 960px;
        }
    }
}
