.reply-on-reply {
  position: relative;
  margin: 5px;
  .close {
    cursor: pointer;
    position: absolute;
    left: -23px;
    top: 0;
    color: #95a5a6;
    &:hover {
      animation: bounce 0.3s ease-out infinite alternate;
    }
  }
  .reply-author {
    color: $reply-author;
    border-left: 3px solid #27ae60;
    margin-bottom: 1%;
    padding-left: 5px;
    font-size: 12px;
  }
  .reply-content {
    color: $reply-content;
    padding-left: 5px;
    border: initial;
    border-left: 3px solid #16a085;
    overflow: hidden;
    resize: none;
    font-size: 12px;
    &:focus {
      outline: none !important;
    }
  }
  @keyframes bounce {
    0% { transform: scale(1); }
    100% { transform: scale(1.2); }
  }
}
