.breadCrumbs {
  nav {
    // Clean
    &.clean {
      background: none;
      box-shadow: none;

      .breadcrumb {
        color: rgba(0,0,0,1);
        font-size: 0.8rem;
        &:hover {
          color: teal;
        }
        &:before {
          color: rgba(0,0,0,0.7);
        }
      }
    }
  }
}
