.dropdown-content {
    display: block;
    opacity: 1;
    right: 0;
    top: 50px;
    > li {
        > a {
            font-size: 14px;
            > .material-icons {
                font-size: 20px;
                margin-right: 10px;
            }
            > .notification-badge {
                left: 4px;
                top: 4px;
            }
        }
        &:hover {
            background-color: #b2dfdb;
        }
    }
    @media screen and (min-width: 992px) {
        width: 158px;
        > li.notification {
            display: none;
        }
    }
}
