.Form-message {
    margin: 0 auto 5px;
    padding: 5px 8px;
    &--error {
        background-color: #ffe6e6;
        border: 1px solid #D84315;
        color: #D84315;
    }
    &--success {
        background-color: #E0F0D9;
        border: 1px solid #3E753F;
        color: #3E753F;
    }
    &--warning {
        background-color: #fff3cd;
        border: 1px solid #856404;
        color: #856404;
    }
    &__text {
        margin: 0;
    }
}
