.btn-newboard {
  width: 80px;
  height: auto;
}

.community-horizontal-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-display: flex;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  margin: 15px 0;
}

.community {
  margin-bottom: 30px;
}
