.Security-settings {
    &__button-group {
        @include flex-box(space-between);
        padding: $user-box-padding;
    }
    &__form__btn {
        padding: 0 5px;
        width: 100%;
        &:first-child {
            margin-right: $user-box-padding / 2;
        }
        &:last-child {
            margin: 0 0 0 $user-box-padding / 2;
            text-align: center;
            text-decoration: none;
        }
    }
    &__field__btn:last-child {
        margin: $user-box-padding 0 0 auto;
    }
}
