$topHeaderBackground: #282f41;
$headerMainTextBackground: #1e88e5;
$hamburgerMenuColor: #81a3d3;
$white: #fff;
$lightWhite: #dedcdc;
$defaultBackground: #eee;
$theme: #282f41;
$inputBackgroundColor: #292323;
$royalblue: royalblue;
