.User-dropdown-btn__btn {
    display: none;
    @media screen and (min-width: 992px) {
        @include flex-box();
        display: block;
        margin-left: auto;
        margin-right: 0;
        &--loggedIn {
            width: auto;
        }
        &__row {
            @include flex-box(space-between);
            height: $top-nav-size;
            width: $user-dropdown-width;
        }
        &__username {
            color: #fff;
            margin-left: 0;
            margin-right: auto;
            text-align: left;
            &__text,
            &__level {
                display: block;
                line-height: normal;
            }
            &__text {
                @include truncate();
                font-size: 12px;
            }
            &__level {
                color: $accent-colour;
                font-size: 11px;
                text-transform: capitalize;
            }
        }
        &__icon {
            @include rectanglify($top-nav-size);
            line-height: $top-nav-size;
        }
        &__avatar {
            margin: 0 10px;
            &__img,
            &__text {
                @include rectanglify($top-nav-size - 10px);
                border-radius: 50%;
                display: block;
            }
            &__text {
                background-color: palette(Teal, 100);
                font-size: 28px;
                line-height: 32px;
                text-align: center;
            }
        }
        &:hover {
            background-color: palette(Grey, 700);
            height: 50px;
        }
    }
}
