.plain-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: auto;
    line-height: normal;
    padding: 0;
    text-transform: none;
    &:focus,
    &:hover {
        box-shadow: none;
    }
}
