#login {
  width: 100%;
  color: #546e7a;
  animation: appearWithOpacity ease-out 2s 1 forwards;
  form {
    & > div {
      margin: 1rem;
      .card-panel {
        margin: initial;
      }
      .login-social-media {
        flex-direction: column;
        padding-top: 10px !important;
        &, .social-media-btn {
          align-items: center;
          display: flex;
          justify-content: center;
        }
        .social-media-btns {
          width: 50%;
          .btn {
            width: 32%;
            position: relative;
            margin-right: 1%;
            &.facebook {
              background-color: #4C69BA;
              &::after {
                background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 50% no-repeat;
              }
            }
            &.kakaotalk {
              background-color: rgb(252, 233, 61);
              &::after {
              }
            }
            &.google {
              background-color: #DD4B39;
              &::after {
                background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 50% no-repeat;
              }
            }
            &.facebook, &.google, &.kakaotalk {
              &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            }
            &:hover {
              -webkit-animation: bounce .3s infinite alternate;
              -moz-animation: bounce .3s infinite alternate;
              animation: bounce .3s infinite alternate;
            }
          }
        }
      }
      .login-body {
        p {
          span {
            width: 30%;
            display: inline-block;
          }
          label {
            width: 70%;
            display: inline-block;
          }
          input {
            width: 0%;
            animation: increasingWidth ease-out 1s 1 forwards;
          }
        }
      }
      .login-footer {
        background-color: lightgrey;
        .login-footer-btns {
          display: flex;
          justify-content: center;
          align-items: center;
          button, .register {
            // transform: scale(0);
            margin-right: 1%;
          }
        }
        .forgot-your-password {
          text-align: center;
        }
        &, .btn {
          font-size: 0.9rem;
        }
      }
    }
  }
  @media screen and (max-width: 660px) {
    .social-media-btns {
      width: 100% !important;
    }
  }
  @media screen and (max-width: 450px) {
    &, .btn {
      font-size: 0.8rem !important;
    }
    .card-panel {
      padding: 10px !important;
    }
  }
  @media screen and (max-width: 350px) {
    font-size: 0.7rem !important;
    .btn {
      font-size: 0.7rem !important;
    }
    .card-panel {
      padding: 10px !important;
    }
  }
}
@keyframes appearWithOpacity {
  to { opacity: 1 }
}

@keyframes bounce {
  to { transform: scale(1.05); }
}

@keyframes increasingWidth {
  to { width: 100%; }
}
