.login-wrapper {
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;

    align-items: center;
    animation: appearWithOpacity ease-out 2s 1 forwards;
    color: #546e7a;
    display: flex;
    height: 100%;
    > .login-body {
        background-color: #fff;
        border-radius: 5px;
        margin: 0 auto;
        max-width: 600px;
        width: 95%;
        .SpanAnimatedText {
            color: teal;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
            text-align: center;
        }
        > .login-social,
        > .login-local {
            padding: 10px;
        }
        > .login-social {
            border-bottom: 1px solid #c1c1c1;
            .social-media-btns {
                > a {
                    align-items: center;
                    color: #fff;
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;
                    > img {
                        height: 30px;
                        width: 30px;
                    }
                    > span {
                        font-weight: 700;
                        width: 100%;
                    }
                    &:hover {
                        animation: bounce .3s infinite alternate;
                    }
                    &.facebook {
                        background-color: #415993;
                    }
                    &.kakao {
                        background-color: #FADE4B;
                        color: #3c1e1e;
                    }
                    &.google {
                        background-color: #5285ED;
                    }
                }
            }
        }
        > .login-local {
            > .input-field {
                margin: 0 auto;
                > .material-icons {
                    font-size: 20px;
                    left: 8px;
                    top: 14px;
                }
                > input {
                    margin-bottom: 35px;
                    width: 0;
                    animation: increasingWidth ease-out 1s 1 forwards;
                    &:focus {
                        border-bottom: 2px solid green;
                        box-shadow: none;
                    }
                }
                > span {
                    position: absolute;
                    right: 30px;
                    top: 45px;
                }
                &.invalid {
                    > .material-icons,
                    > label,
                    > span {
                        color: #E53935;
                    }
                    >label {
                        font-weight: 700;
                    }
                    > input {
                        border-color: #E53935;
                        &:focus {
                            border-color: #E53935;
                        }
                    }
                }
                &.valid {
                    > .material-icons,
                    > label,
                    > span {
                        color: teal;
                    }
                    > input {
                        border-color: teal;
                        &:focus {
                            border-color: teal;
                        }
                    }
                }
            }
            > .btn {
                display: block;
                font-size: 12px;
                margin: 10px auto;
                padding: 0 10px;
                width: 90%;
            }
            > .other-options {
                align-items: center;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                padding: 5px;
                width: 90%;
                > a {
                    font-size: 12px;
                    text-decoration: underline;
                }
            }
        }
        @media screen and (min-width: 768px) {
            .SpanAnimatedText {
                font-size: 20px;
                margin-bottom: 20px;
            }
            > .login-social,
            > .login-local {
                margin: 0 auto;
                padding: 20px 30px;
            }
            > .login-local {
                > .other-options {
                    margin-top: 20px;
                    > a {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    > .preloader {
        padding: 100px 0;
        text-align: center;
        > .authentication-message {
            > .material-icons {
                font-size: 75px;
            }
            > p {
                font-size: 16px;
            }
            &.failed {
                color: #E53935;
            }
        }
    }
}

@keyframes appearWithOpacity {
    to {
        opacity: 1
    }
}

@keyframes bounce {
    to {
        transform: scale(1.01);
    }
}

@keyframes increasingWidth {
    to {
        width: calc(100% - 5rem);
    }
}
