* {
  box-sizing: border-box;
}
.board {
  margin-top: 10px;
  .row {
    margin-bottom: 0;
  }
}

.board_loading {
  text-align: center;
}

.board_header_manager {
  display: inline-block;
  color: #888;
  font-size: 80%;
}
