* {
  box-sizing: border-box;
}
.board {
  margin-top: 10px;
  .row {
    margin-bottom: 0;
  }
}

.board_loading {
  text-align: center;
}

.board_header_manager {
  display: inline-block;
  color: #888;
  font-size: 80%;
}

.board_breadcrumbs {
  display: inline-block;
}

.bookmark {
  font-size: 450%;
  color: teal;
}

@media only screen and (max-width: 400px) {
  .breadcrumb:before {
    margin: 0;
  }

  .bookmark {
    font-size: 300%;
    color: teal;
  }
}
