#register {
  width: 100%;
  margin-top: 2rem;
  form {
    padding: 7%;
    background-color: #fff;
    box-shadow: 0px 0px 15px lightgrey;
    .register-header {
      .register-header-text {
        font-size: 2rem;
        color: teal;
      }
      .register-close {
        cursor: pointer;
        &:hover {
          -webkit-animation: bounce .3s infinite alternate;
          -moz-animation: bounce .3s infinite alternate;
          animation: bounce .3s infinite alternate;
        }
      }
    }
    .register-body {
      .input-field {
        .is-correct {
          color: #26a69a;
        }
      }
      .input-field-error-text {
        color: #FF6600;
      }
    }
    input {
      color: black;
      width: 0%;
      animation: increasingWidth ease-out 1s 1 forwards;
    }
    label {
      color: lightgrey;
    }
    .register-btn {
      width: 100%;
    }
  }
  @keyframes bounce {
    to { transform: scale(1.15); }
  }
  @keyframes increasingWidth {
    to { width: calc(100% - 5rem); }
  }
}
