/* colours */
$main-menu-border-color: #dad8de;
$teal-1000: #002821;

$facebook-bg: #415993;
$google-bg: #5285ED;
$kakao-bg: #FADE4B;
$kakao-txt: #3c1e1e;

$reply-author: #00008b;
$reply-content: #a0a39f;

/* size in pixels */
$top-nav-size: 44px;
$main-menu-width: 240px;
$user-dropdown-width: 250px;
$user-box-padding: 15px;
