/* colours */
$main-menu-border-color: #dad8de;
$teal-1000: #002821;
$facebook-bg: #415993;
$kakao-bg: #FADE4B;
$kakao-txt: #3c1e1e;
$google-bg: #5285ED;
$reply-author: #7CB342;
$reply-content: #00897B;

/* size in pixels */
$top-nav-size: 44px;
$main-menu-width: 240px;
$user-dropdown-width: 250px;
