.user-menu {
    .notification-badge {
        color: #e0f2f1;
        background-color: #ff3d00;
        border: 1px solid #e0f2f1;
        border-radius: 50%;
        font-size: 10px;
        line-height: normal;
        padding: 1px 3px;
        position: absolute;
    }
    > .btn {
        > .notification-badge {
            right: 3px;
            top: 8px;
        }
    }
}
