.account-settings {
    button {
        background-color: palette(Teal, 900);
        border: none;
        color: #fff;
        font-size: 12px;
        margin: 15px;
        padding: 5px 10px;
    }
    > .Form-message {
        margin: 0 0 10px;
    }
}
