.account-settings-form {
    > .card {
        background-color: #eef5f4;
        margin-top: 0;
        overflow: auto;
        > .settings-header {
            background-color: palette(Teal, 50);
            border-bottom: 1px solid #dad8de;
            padding: 15px;
            > h4 {
                font-size: 18px;
                font-weight: 700;
                margin: 0 auto 15px;
            }
            > span {
                font-size: 12px;
            }
        }
        > .settings-fields {
            border-bottom: 1px solid #dad8de;
            overflow: auto;
            padding: 15px 15px;
            > label {
                color: palette(Teal, 900);
                font-size: 16px;
                font-weight: 700;
            }
            > input {
                background-color: #fff;
                border: none;
                box-shadow: inset 0 0 0 1px #dad8de, 0 0 0 transparent;
                box-sizing: border-box;
                height: auto;
                margin: 15px 0 5px;
                padding: 5px 10px;
            }
            > p {
                color: #6e6779;
                font-size: 12px;
                margin: 0;
                text-align: right;
            }
            > .uploader {
                align-items: flex-end;
                display: flex;
                justify-content: flex-start;
                > img {
                    @include rectanglify(100px);
                    display: block;
                    margin-top: 10px;
                }
                > input {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }
                > label {
                    margin-left: 20px;
                    > span:first-child {
                        background-color: palette(Teal, 900);
                        color: #fff;
                        display: inline-block;
                        padding: 7px 13px;
                    }
                    > span:last-child {
                        display: block;
                    }
                }
            }
        }
        button {
            background-color: palette(Teal, 900);
            border: none;
            color: #fff;
            float: right;
            font-size: 12px;
            margin: 15px;
            padding: 5px 10px;
        }
        .button-group {
            @include flex-box(space-between);
            padding: 15px;
            > button {
                float: none;
                margin: 0;
                width: 45%;
            }
        }
    }
}
